:root {
	--base-color: #000d; /* I really wanted body and html to be different colors */
	--header: #fff2;
	--body: #fff3;
	--code-background: #0006;

	--text-color: #eee;

	--comment: #999;
	--keyword: #37d;
	--name: #08b;
	--number: #099;
	--string: #8dd;
	--regex: #3a8;
	--error: #a00;
}

html { background-color: var(--base-color); }

body {
	margin: 0px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	tab-size: 4;
	color: var(--text-color);
}

#header {
	height: 2rem;
	background-color: var(--header);
	display: flex;
	padding-left: 1rem;
	padding-right: 0.25rem;
}

#title {
	font-size: 1.5rem;
	margin-right: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#date {
	font-size: 1rem;
	white-space: nowrap;
}

#content {
	background-color: var(--body);
	padding: 1rem;
	margin: 1rem;
	margin-top: 0;
	border-radius: 0 0 1rem 1rem;
}

a { color: var(--number); }

.small-img {
	width: 256px;
	height: 256px;
	image-rendering: pixelated;
}



/* Code Styling */
p > .highlighter-rouge,
.highlight > pre {
	background-color: var(--code-background);
	padding: 0.2rem;
	border-radius: 0.2rem;
}

/* I think these were useless
.highlight .w  {  } Text.Whitespace
.highlight .p  {  } Punctuation
.highlight .nx {  } Name.Other */

.highlight .gs { font-weight: bold; } /* Generic.Strong */
.highlight .ge { font-style: italic; } /* Generic.Emph */

.highlight .ne, /* Name.Exception */
.highlight .gr, /* Generic.Error */
.highlight .gt  /* Generic.Traceback */
	{ color: var(--error); }

.highlight .gd .x, /* Generic.Deleted.Specific */
.highlight .gi .x, /* Generic.Inserted.Specific */
.highlight .gd, /* Generic.Deleted */
.highlight .gi, /* Generic.Inserted */
.highlight .gu, /* Generic.Subheading */
.highlight .gh, /* Generic.Heading */
.highlight .go, /* Generic.Output */
.highlight .gp, /* Generic.Prompt */
/* same color, but im not sure above gets used */
.highlight .c,  /* Comment */
.highlight .cm, /* Comment.Multiline */
.highlight .c1, /* Comment.Single */
.highlight .cp, /* Comment.Preproc */
.highlight .cs  /* Comment.Special */
	{ color: var(--comment); font-style: italic; } 

.highlight .o, /* Operator */
.highlight .ow /* Operator.Word */
	{ font-weight: bold; }

.highlight .k,  /* Keyword */
.highlight .kc, /* Keyword.Constant */
.highlight .kd, /* Keyword.Declaration */
.highlight .kp, /* Keyword.Pseudo */
.highlight .kr, /* Keyword.Reserved */
.highlight .kt  /* Keyword.Type */
	{ color: var(--keyword); font-weight: bold; } 

.highlight .nb, /* Name.Builtin */
.highlight .nc, /* Name.Class */
.highlight .ni, /* Name.Entity */
.highlight .nn, /* Name.Namespace */
.highlight .bp, /* Name.Builtin.Pseudo */
.highlight .nt  /* Name.Tag */
/* I barely see the above used */
.highlight .nf, /* Name.Function */
.highlight .na, /* Name.Attribute */
.highlight .no, /* Name.Constant */
.highlight .nv, /* Name.Variable */
.highlight .vc, /* Name.Variable.Class */
.highlight .vg, /* Name.Variable.Global */
.highlight .vi  /* Name.Variable.Instance */
	{ color: var(--name); }

.highlight .m,  /* Literal.Number */
.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .mo, /* Literal.Number.Oct */
.highlight .il  /* Literal.Number.Integer.Long */
	{ color: var(--number); }

.highlight .sr { color: var(--regex); } /* Literal.String.Regex */
.highlight .s,  /* Literal.String */
.highlight .sb, /* Literal.String.Backtick */
.highlight .ss, /* Literal.String.Symbol */
.highlight .sc, /* Literal.String.Char */
.highlight .sd, /* Literal.String.Doc */
.highlight .s2, /* Literal.String.Double */
.highlight .se, /* Literal.String.Escape */
.highlight .sh, /* Literal.String.Heredoc */
.highlight .si, /* Literal.String.Interpol */
.highlight .sx, /* Literal.String.Other */
.highlight .s1, /* Literal.String.Single */
.highlight .err /* Error */
	{ color: var(--string); }
/* There seems to be an issue with the err highlighting,
   It picks up on my backslashes in a string with single quotes
   Just going to make it the same as a string so it looks nice. */