<html>
	<head>
		{% assign links = page.url | split: "/" %}
		{% assign smaller_size = links.size | minus: 1 %}
		<base target="_blank" rel="noopener noreferrer">
	</head>
	<link href="/static/default_style.css" rel="stylesheet" type="text/css">
	{% if page.title %}
		<title>{{ page.title }}</title>
	{% else %}
		<title>{{ links[smaller_size] }}</title>
	{% endif %}
	<body>
		<div id="header">
			<span id="title"><!--
				-->/<a target="_self" href="/">home</a><!--
				-->/<a target="_self" href="/">idem</a><!--
				-->{% for i in (1..smaller_size) %}<!--
					-->{% assign link_to_i = "/" %}<!--
					-->{% for j in (1..i) %}<!--
						-->{% assign link_to_i = link_to_i | append: links[j] | append: "/" %}<!--
					-->{% endfor %}<!--
					-->{% if i != smaller_size %}<!--
						-->/<a href="{{ link_to_i }}" target="_self">{{ links[i] }}</a><!--
					-->{% else %}<!--
						-->/{{ links[i] }}<!--
					-->{% endif %}<!--
				-->{% endfor %}$ <span class="blink2s">█</span>
			</span>
			<span id="date">{{ page.date }}</span>
		</div>
		<div id="content">
			{{ content }}
		</div>
	</body>
</html>


